.content {
  direction: ltr;
  position: relative;
  /* width: 750px;
  height: 500px; */
  width: 535px;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  /* border: 1px solid red; */

  margin-top: auto;
}

.section__1 {
  height: 100%;
}

.slider {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.75s;
}

.slider img {
  /* border: 1px solid blue; */
  /* height: 100%; */
  /* height: auto; */
  min-width: 535px;
}

.slider-info {
  position: absolute;
  width: auto;
  z-index: 1;
  top: 0.75rem;
  right: 0rem;
  background: #0135ec;
  color: #fff;
  border-radius: 15px 0 0 15px;
  padding: 0.5rem 0.75rem;
  transition: 1s;
}
.slider-image {
  opacity: 1;
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 1s;
}
.slider-image-active {
  opacity: 1;
}
.btn-chevron {
  position: absolute;
  top: 50%;
  z-index: 999;
  background: #0135ec;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s all;
}

.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
#indicator-container {
  position: relative;
}

.indicator {
  position: absolute;
  bottom: -10rem;
  width: 100%;
  /* transform: translate(-50%, 0); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  cursor: pointer;
}
.indicator p {
  width: 1.24256rem;
  height: 1.24256rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: white;
  padding: 0.3rem;
  transition: 0.5s all;
  border-radius: 100%;
}
.indicator-active {
  border-radius: 0.625rem;
  background: #e30613 !important;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.36);
}
